# Server URLs
VITE_BASE_URL=https://server-stg.online
VITE_SENTRY_DSN=sentry_dsn
VITE_GOOGLE_TRACKING_ID=google_tracking_id
VITE_GOOGLE_RECAPTCHA_KEY=google_recaptcha_key
VITE_METAMASK_FEATURE_TOGGLE=<true | false>
VITE_METAMASK_COMMUNICATION_SERVER_URL=comm_server_url
VITE_ACCOUNT_ABSTRACTION_FEATURE_TOGGLE=<true | false>
